<!-- templates/header.html -->

<header>
    <nav class="navbar">
        <ul>
            <li>
                <a href="{{ url_for('home') }}">Home</a>
            </li>

            <li>
                <a href="{{ url_for('home') }}#about-section">About</a>
            </li>

            <li>
                <a href="{{ url_for('home') }}#contact-section">Contact</a>
            </li>

            {% if session.get('username') %}
            <li>
                <a href="{{ url_for('upload_page', username=session['username']) }}">
                    Upload
                </a>
            </li>

            <li>
                <a href="{{ url_for('logout') }}">Logout</a>
            </li>
            {% else %}
            <li>
                <a href="{{ url_for('login') }}">Login</a>
            </li>

            <li>
                <a href="{{ url_for('signup') }}">Sign Up</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</header>